@import styles/variables.sass

.container-view
  background: url(../img/bg_grid.png)
  bottom: 0
  font-size: $base-font-size
  left: 0
  position: absolute
  right: 0
  top: 0

  .hid
    display: none
