<div class="$timelineScrubber"></div>
<div class="$animationInput"></div>
<div class="$animationPreview"></div>
<a class="what-is-this" target="_blank" href="https://github.com/jeremyckahn/rekapi-export-test/blob/master/README.md">What is this tool?</a>
